# You have to define the values in {}
APP_NAME=wowza-api-data-collector
#docker repository
DOCKER_REPO={your-docker-repo-url}
#build arguments
BUILD_ARGS={additional build arguments, can be empty}
